{% extends "blog/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h2>Welcome, {{ user.username }}!</h2>


{% if messages %}
  <ul>
    {% for message in messages %}
      <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
      </li>

    {% endfor %}
  </ul>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>
        <legend>Update User Info</legend>
        {{ user_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Update Profile Info</legend>
        {{ profile_form.as_p }}
    </fieldset>

    <button type="submit">Update Profile</button>
</form>
{% endblock %}
